<div class="mx-auto d-flex flex-column" style="max-width: 80%;">
  <div class="d-flex mb-3 mt-4">
    <div class="flex-shrink-0 img-thumbnail">
      <%= image_tag "user.jpg", :alt => "#{@user.name} image", width:150, hight:150 %>
    </div>
    <div class="flex-grow-1 ms-3 d-flex flex-column px-5 py-3 align-items-center border">
      <h3 class="align-self-start mt-50"><%= @user.name %></h3>
      <span class="align-self-end">
        Number of posts: <% if @user.post_counter.to_i > 0 %> <%= @user.post_counter %> <% else %>
        <%= 0 %> <% end %>
      </span>
    </div>
  </div>
  <div class="border p-3 mb-3">
    <h3>Bio:</h3>
    <p><%= @user.bio %></p>
  </div>
  <div>
    <% @user.three_recent_posts.each do |post| %>
    <div class="border p-3 mb-2">
      <h5>Post #<%= @user.three_recent_posts.index(post)+1 %></h5>
      <h4><%= post.title %></h4>
      <p><%= post.text %></p>
      <% if post.comments_counter.to_i > 0 %>
      <span>Comments: <%= post.comments_counter %></span>
      <% else %>
      <span>Comments: <%= 0 %></span>
      <% end %> <% if post.likes_counter.to_i > 0 %>
      <span>Likes:<%= post.likes_counter %></span>
      <% else %>
      <span>Likes: <%= 0 %></span>
    </div>
      <% end %> <% end %>
  </div>
  <button class="align-self-center" type="button">See all posts</button>
</div>
